.filteri-container {
    padding: 2%;
    border: 2px solid;
    border-radius: 15px;
}


.tabela-dugme {
    margin: 0 6%;
    color: #f05454;
    text-decoration: none;
}

.tabela {
    color: #dddddd;
}

.list-text {
    text-align: center;
}