<div class="container-fluid container-padding" id="search">

    <div class="d-flex justify-content-center">
        <h1>PHARMACY</h1>
    </div>

<form class="d-flex justify-content-center form-group row">
    <div class="col-lg-9">
        <input class="form-control form-control-lg" id="searchInput" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-lg-2">
        <button class="btn btn-lg btn-danger" id="searchButton" type="submit">Search</button>
    </div>
  </form>
  <app-pharmacy-list></app-pharmacy-list>
  <app-medicine-list></app-medicine-list>
</div>

